{{define "ajaxdirbrowser"}}
        {{ $d := .CurrentDir }}
        <h2>current dir: {{html $d}}</h2>
        <div class="list-group">
        	<a href="#" class="liDirEl list-group-item" onclick="loadDir('{{ escapeBackSlash .ParentDir | html }}')">[d] ..</a>
        	{{range .Dirs}}
        	    <a href="#" class="liDirEl list-group-item" onclick='loadDir("{{if ne $d "/"}}{{ escapeBackSlash $d | html }}{{end}}/{{html .}}")'>[d] {{.}}</a>
        	{{end}}
        	{{range .Files}}
        	    <a href="#" class="liDirEl list-group-item disabled">[ ]{{html .}}</a>
        	{{end}}
        </div>
{{end}}
