{{define "title"}}duplicates{{end}}
{{define "head"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var mapFiles = new Map()
function toggleDelete(el, fileName) {
    // if (mapFiles.has(fileName)) {
    //     el.style.color = 'black';
    //     mapFiles.delete(fileName);
    // } else {
    //     el.style.color = 'red';
    //     mapFiles.set(fileName, 1);
    // }
    if (mapFiles.has(fileName)) {
	el.className = '';
	mapFiles.delete(fileName);
    } else {
	el.className = 'danger';
	mapFiles.set(fileName, 1);
    }

}
function apply() {
    var files = []
    for (var key of mapFiles.keys()) {
	console.log(key);
	files.push(key)
    }
    // window.alert(files)
    $.post('/delfiles', {'deleteTheseFiles': files});
    location.reload();
}
function cancel() {
    mapFiles.clear();
    location.reload();
}
</script>

<style>
  .table-hover>tbody>tr>td:hover, .table-hover>tbody>tr>td:hover{
        color: red !important;
    }
</style>
{{end}}

{{define "content"}}

<div class="row">
<h2>Duplicate files</h2>
</div>

<div class="container-fluid">
<div class="row">
<table width="100%" class="table table-responsive table-bordered table-striped table-condensed table-hover">
<tr><th>size</th><th colspan="2">identical files</th></tr>
{{range .}}
<tr><td>{{size .}}</td>{{range .}}<td onclick="toggleDelete(this, '{{.FullName}}')">{{.FullName}} </td>{{end}}</tr>
{{end}}</table>
</div>
</div>
        <div class="row">
          <div class="col-lg-2">
            <button class="buttondel btn btn-warning btn-block" onclick=apply()>Delete Files</button>
          </div>
          <div class="col-lg-2">
            <button class="buttoncancel btn btn-block" onclick=cancel()>Cancel</button>
          </div>
        </div>
{{end}}
